body {
  background-color: black;
  color: white;
}

ol {
  margin: 0;
  padding-left: 1.75rem;
}

li {
  padding: 1rem 0.5rem;
  border-top: 1px solid #333;
}

li a {
  color : white;
  text-decoration: none;
}
li small {
  display: block;
}