body {
  background-color: black;
  color: #bababa;
  padding-top: 2rem;
}

input[type="search"] {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  padding: 0.25rem 0.5rem;
  z-index: 1;
}

ol {
  margin: 0;
  padding-left: 1.75rem;
}
ol li::marker {
  color: #aaa;
  font-size: 90%;
}

li {
  padding: 2rem 0.5rem;
  border-top: 1px solid #333;
}

li a {
  color : #cacaca;
  text-decoration: none;
}
li small {
  display: block;
  padding-top: 1rem;
}

li button {
  padding: 0.25rem;
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: rgb(255 255 255 / 0.1);
  opacity: 0.9;
  border: 1px solid #333;
}

li button:active, li button:hover {
  background-color: rgb(255 255 255 / 0.3);
  opacity: 1;
} 