body {
  background-color: #111;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

header {
  max-width: 520px;
  margin: 0 auto;
  padding: 1rem 0;
}

main {
  max-width: 520px;
  margin: 0 auto;
  perspective: 1500px;
  padding: 1rem 0;
}

/* nav {
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  border: 1px solid #111;
  overflow: hidden;
  margin: 2rem 0;
}
nav button {
  color: #ABC;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.25rem rgb(255 255 255 / 0.1) inset;
  transition: 0.25s ease-in-out all;
}
nav button:hover {
  background-color: #111;
} */
form {
  display: flex;
  border: 1px solid #333;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0  / 1),
    -0.25rem -0.25rem 0.5rem rgb(255 255 255 / 0.1);
}
form button {
  background-color: #111;
  border-color: transparent;
  width: 3rem;
}
input {
  color: #ccc;
  background-color: #111;
  flex: 1;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0  / 1) inset,
    -0.1rem -0.1rem 0.5rem rgb(255 255 255 / 0.1) inset;
}

#phrase {
  padding: 2rem 0;
  line-height: 2rem;
}

#translation {
  display: block;
  padding: 2rem 0;
  font-style: italic;
}

#counter {
  color: #666;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  width: 100%;
}
.current {
  background-color: black;
  padding: 0 1rem;
  box-shadow: 0.1rem 0.1rem 0.25rem rgb(0 0 0  / 1),
    -0.1rem -0.1rem 0.25rem rgb(255 255 255 / 0.1);
}

main button {
  color: white;
  display: inline-block;
  width: 100%;
  background: #111;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0  / 1),
    -0.25rem -0.25rem 0.5rem rgb(255 255 255 / 0.1);
}
main button:hover {
  background: #000;
}

.first, .last {
  color: #cacaca;
  margin: 1rem 0;
}

.previous, .next {
  font-size: 80%;
  opacity: 0.3;
  text-align: left;
  border: 1px solid  #222;
  padding: 1rem;
  > div {
    padding: 0.5rem 0;
  }
}
.previous {
  transform: rotateX(15deg);
  border-radius: 1rem 1rem 0 0;
}
.next {
  transform: rotateX(-15deg);
  border-radius: 0 0 1rem 1rem;
}