body {
  /* background: linear-gradient(-45deg, #110a00, #001111); */
  background-color: black;
  font-family: Roboto, 'Segoe UI', Ubuntu, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  min-height: calc(100vh - 2rem);
}

header {
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8.5rem), 1fr));
  gap: 1rem 1rem;
  text-align: center;
}

header form:first-child {
  grid-column: span 2;
}

header form:last-child {
  grid-column: span 1;
  justify-self: end;
}

main {
  max-width: 680px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  /* perspective: 1500px; */
}

form {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

form button {
  background-color: #111;
  border-color: transparent;
  width: 3rem;
}

input {
  color: #ccc;
  background-color: #111;
  flex: 1;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
}

#phrase {
  color: #abb;
  padding: 1rem 0;
  line-height: 2.5rem;
}

#translation {
  color: #bba;
  display: block;
  padding: 1rem 0;
  font-style: italic;
  line-height: 2;
}

#counter {
  color: #666;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  padding: 1rem 0;
  width: 100%;
}

.current {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 1rem;
  min-height: 18rem;
  border-style: solid;
  border-color: #210 transparent #022 transparent;
  border-width: 1px 0;
}

main button {
  color: white;
  text-shadow: 1px 1px 1px #555, -1px -1px 1px black;
  display: inline-block;
  width: 100%;
  background: linear-gradient(170deg, #001111, #110a00);
  padding: 1.5rem 0.5rem;
  border-style: solid;
  border-color: black;
  border-width: 1px 0;
}

main button:hover {
  color: cyan;
  background: linear-gradient(170deg, #001111, #110a00);
}

/* main button:first-child, main button:last-child {
  opacity: 0.6;
  padding: 1rem 0;
}
main button:first-child {
  margin-bottom: 2rem;
}
main button:last-child {
  margin-top: 2rem;
} */

.shadow {
  border: 1px solid rgb(255 255 255 / 0.1);
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(255 100 0 / 0.2),
    -0.2rem -0.2rem 0.5rem rgba(0 255 255 / 0.2);
}