body {
  background-color: #000;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding: 0 1rem;
}

main {
  max-width: 520px;
  margin: 0 auto;
  border-radius: 0.25rem;
}

nav {
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  border: 1px solid #111;
  overflow: hidden;
  margin-top: 2rem;
}
nav button {
  color: #ABC;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.25rem rgb(255 255 255 / 0.1) inset;
  transition: 0.25s ease-in-out all;
}
nav button:hover {
  background-color: #111;
}
form {
  display: flex;
  border: 1px solid #333;
  border-radius: 1rem;
  overflow: hidden;
}
form button {
  background-color: #111;
  border-color: transparent;
  width: 3rem;
}
input {
  color: #ccc;
  background-color: #000;
  flex: 1;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
}

#phrase {
  padding: 2rem 0;
  line-height: 2rem;
}

#translation {
  display: block;
  padding: 2rem 0;
  font-style: italic;
}

#counter {
  color: #666;
  display: inline-block;
  font-size: 12px;
  text-align: right;
  width: 100%;
}
